body {
    font-family: 'Helvetica Neue', sans-serif;
}
p {
    color: black;
}
.container {
    width: 1020px;
    margin: 0 auto;
}

/*----------------------------header contacts----------------*/
.header-button {
    position: absolute;
    top: 2px;
    left: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
    color: #424242;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: grey;
    padding: 10px;
    border-radius: 50vh;
    border: 1px solid #424242;
}
.header-button:hover {
    border: 1px solid #fff;
    color: #fff;
}
.header-contacts {
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #f0f2f4;
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    text-align: right;
}

.header-contacts-text {
    margin-left: 11px;
    display: inline-block;
    color: #424242;
    font-size: 15px;
    text-decoration: none;
}

.wertical-line::before {
    margin-left: 11px;
    float: right;
    content: "";
    background-color: #e2e2e2;
    display: block;
    width: 1px;
    height: 12px;
}

/*----------------header menu------------------*/

.header-menu {
    padding-top: 36px;
    padding-bottom: 36px;
}

.icon-top-logo {

    margin-top: 6px;
    float: left;
    margin-right: 7px;
    display: inline-block;
    background-image: url(../img/logo.png);
    width: 74px;
    height: 49px;
}

.logo-text-title {
    margin-top: 2px;
    float: left;
    display: inline-block;
    color: #424242;
    font-size: 37px;
    font-weight: 700;
}

.logo-text-sub {
    float: left;
    display: inline-block;
    color: #424242;
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /*align-items: baseline;*/
}

.navbar-item {
    margin-top: 11px;
    /*margin-left: 15px;*/
    padding: 12px 22px;
}

.navbar-menu-link {
    display: inline-block;
    text-decoration: none;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.navbar-menu-link:hover {
    color: #de2b24;
}

.navbar-button {

    border-radius: 4px;
    background-color: #de2b24;
    /*width: 171px;*/
    color: #fff;
    text-align: center;
}

/*----------------------------------title----------------------*/

.title {
    padding-top: 176px;
    padding-bottom: 236px;
    text-align: center;
}

.bcg-1 {
    background-image: url(../img/Layer%2032.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.company-title {

    margin-bottom: 5px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.company-slogan {

    margin-bottom: 32px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.btn-choise {

    display: inline-block;
    padding: 25px 40px;
    background-color: #f8cd53;
    width: 248px;
    color: #ffffff;
    font-size: 23.2px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

/*------------------------about us------------------------------*/

.description {
    padding-top: 102px;
    padding-bottom: 130px;
    text-align: center;
}

.description-title {

    margin-bottom: 4px;
    color: #424242;
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
}

.description-slogan {

    position: relative;
    margin-bottom: 63px;
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

.dark-line::after {
    position: absolute;
    content: "";
    left: 47%;
    margin: 0 auto;
    margin-top: 12px;
    display: block;
    background-color: #424242;
    width: 47px;
    height: 5px;
}

.flex-container {

    display: flex;
    justify-content: space-around;
}

.container-width {
    width: 250px;
}

.img-title {
    margin-top: 28px;
    margin-bottom: 14px;
    color: #424242;
    font-size: 22px;
    font-weight: 700;
}

.img-description {
    font-family: 'OpenSans', sans-serif;
    color: #5c5c5c;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

/*----------------------work-project-------------------------*/

.work-project {
    padding-top: 110px;
    padding-bottom: 130px;
    background-color: #de2b24;
    text-align: center;
}
.wigth-line::after {
    position: absolute;
    content: "";
    left: 47%;
    margin: 0 auto;
    margin-top: 12px;
    display: block;
    background-color: #fff;
    width: 47px;
    height: 5px;
}
.flex-position {
    display: flex;
    /*justify-content: center;
    flex-wrap: wrap;*/
    justify-content: space-around;
    flex-wrap: wrap;
}

.landing-box {
    padding-top: 74px;
    padding-bottom: 74px;
    text-align: center;
    background-color: #f35e59;
    width: 255px;
}

.flex-wight-box {
    width: 25%;
}

.project-name {
    margin-top: 26px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
}

.color-text {
    color: #ffffff;
}

.project-description {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

/*----------------------------section-contacts-------------------*/

.section-contacts {
    padding-top: 90px;
    padding-bottom: 85px;
    background-color: #2a2a2a;
    text-align: center;
}

.section-contacts-title {

    margin-bottom: 45px;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 22px;
}
.flex-blok-item {
    display: flex;
    justify-content: center;
}
.i_icon {
    display: inline-block;
    padding: 12px 12px;    
    margin-right: 20px;
    width: 49px;
    height: 49px;
    border-radius: 1px;
    border: 2px solid #515151;
    box-sizing: border-box;

}
.i_icon:hover{
    border-color:  #de2b24;
}

.section-contacts-slogan {
    margin-top: 36px;
    margin-bottom: 31px;
    font-family: 'OpenSans', sans-serif;
    color: #cecece;
    font-size: 14px;
    line-height: 22px;
}

.send-msg-field {
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 22px;
    margin-bottom: 28px;
    width: 683px;
    border-radius: 1px;
    background-color: #515151;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.send-smg-button {
    display: block;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 1px;
    border: 2px solid #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;
    box-sizing: border-box;
}

/*------------------------------footer-----------------------*/

.footer {
    padding-top: 19px;
    padding-bottom: 27px;
    background-color: #515151;
    text-align: center;
}

.footer-description {
    font-family: 'OpenSans', sans-serif;
    color: #cecece;
    font-size: 14px;
    line-height: 27px;
}


